<div class="dashboard-session">
    <div class="session-title">
        <h5 class="name">推荐电影 <label class="label label-success" ng-if="vm.totalResults">{{vm.totalResults}}</label></h5>
    </div>
    <loading-bar></loading-bar>
    <div class="movies-wrapper"
        ng-show="vm.popularMovies.length">
        <movie-card ng-repeat="movie in vm.popularMovies track by movie.id"
            movie="movie"
            class="movie-item"
            ng-if="movie.poster_path">
        </movie-card>
    </div>
</div>
<pagination config="vm.paginationConfig" ng-show="vm.popularMovies"></pagination>
