<div class="hero-wrap">
    <div class="intro">
        <div class="intro-item">
            <div class="row">
                <div class="row-content">
                    <h1>Webpack + Angular + UiRouter + ES6最佳实践!</h1>
                    <p class="intro-text">用户登录验证以及路由访问权限控制演示程序</p>
                    <div class="btn-box">
                        <a href="" class="btn btn-fill btn-large btn-margin-right">Download</a>
                        <a href="" class="btn btn-accent btn-large">Repository</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
