<div class="sidebar-wrapper">
    <div class="header">
        <h1 class="logo" title="APP"><i class="icons icon-diamond"></i></h1>
    </div>
    <nav class="navgiation">
        <ul>
            <li class="text-center" ui-sref-active="active"><a ui-sref="root.layout.home"><i class="icons icon-speedometer"></i><span>仪表盘</span></a></li>
            <li class="text-center" ui-sref-active="active"><a ui-sref="root.layout.movies.popular"><i class="icons icon-fire"></i><span>推荐电影</span></a></li>
            <li class="text-center" ui-sref-active="active"><a ui-sref="root.layout.movies.upcoming"><i class="icons icon-calendar"></i><span>即将上映</span></a></li>
            <li class="text-center"><a href=""><i class="icons icon-film"></i><span>所有电影</span></a></li>
            <li class="text-center"><a href=""><i class="icons icon-star"></i><span>收藏夹</span></a></li>
            <li class="text-center"><a href=""><i class="icons icon-chart"></i><span>浏览历史</span></a></li>
        </ul>
        <ul class="setting">
            <li class="text-center"><a href=""><i class="icons icon-settings"></i></a></li>
        </ul>
    </nav>
</div>
