<div class="sidebar-wrapper">
    <div class="header">
        <h1 class="logo" title="APP"><i class="icons icon-diamond"></i></h1>
    </div>
    <nav class="navgiation">
        <ul>
            <li class="text-center"
                ng-repeat="nav in vm.navigations track by $index"
                ui-sref-active="active">
                <a ui-sref="{{nav.uri}}">
                    <i class="icons icon-{{nav.icon}}"></i>
                    <span>{{nav.name}}</span>
                </a>
            </li>
        </ul>
        <ul class="setting">
            <li class="text-center"><a ui-sref="root.layout.movies"><i class="icons icon-settings"></i></a></li>
        </ul>
    </nav>
</div>
