<loading-bar></loading-bar>
<div ng-show="vm.upComingMovies.length">
    <div class="dashboard-session">
        <div class="session-title">
            <h5 class="name">即将上映 <label class="label label-success">{{vm.totalResults}}</label></h5>
        </div>
        <div class="movies-wrapper">
            <movie-card ng-repeat="movie in vm.upComingMovies track by movie.id"
                movie="movie"
                class="movie-item"
                ng-if="movie.poster_path">
            </movie-card>
        </div>
    </div>
</div>
